.end{
    background: $white;
    @include desktop{
        background-color: rgb(209, 207, 207);
    }
}
.empty{
    height: 7.13rem;
    @include tablet{
        height: 6.5rem;
    }
    @include desktop{
        height: 12.37rem;
    }
}